@import 'src/styles/util/index.scss';

body,
html {
  padding: 0;
  margin: 0;
  font-size: $fontSize;
  line-height: $lineHeight;
  box-sizing: border-box;
  font-weight: $fontWeightDefault;

  @include media($gridIsStacked) {
    font-size: $fontSize - 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $fontSansSerif;
  color: $textColor;
}

p {
  margin: {
    top: 0;
    bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

strong {
  font-weight: $fontWeightBold;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $linkColor;
  text-decoration: none;
  transition: color 0.2s ease-in;

  &:hover {
    color: #2c84de;
  }
}

li {
  margin-bottom: $lineHeight / 2;
}

h1,
h2,
h3,
h4 {
  color: $headerColor;
  line-height: 1.5;
}

h2 {
  margin-top: $lineHeight * 2.5;
  margin-bottom: $lineHeight;
  line-height: 1.2;
}

h3 {
  margin-top: $lineHeight * 1.5;
  margin-bottom: $lineHeight / 2;
}

p,
ul,
ol {
  margin: {
    top: 0;
    bottom: 1rem;
  }
}

ul,
ol {
  padding-left: $lineHeight * 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
}

.fadeDown {
  animation-name: fadeDown;
  animation-timing-function: ease-in-out;
}

.fade {
  animation-name: fade;
  animation-timing-function: ease-in;
}

@keyframes wwDecoFade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.wwDecoFade {
  animation-name: wwDecoFade;
  animation-timing-function: ease-in-out;
}
