@import 'src/styles/util/index.scss';

body,
html {
  padding: 0;
  margin: 0;
  font-size: $fontSize;
  line-height: $lineHeight;
  box-sizing: border-box;

  @include media($gridIsStacked) {
    font-size: $fontSize - 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $fontSansSerif;
  color: $textColor;
}

p {
  margin: {
    top: 0;
    bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $linkColor;
  text-decoration: none;
}

li {
  margin-bottom: $lineHeight / 2;
}

h1,
h2,
h3,
h4 {
  color: $headerColorDark;
  line-height: 1.5;
}

h2 {
  margin-top: $lineHeight * 2.5;
  margin-bottom: $lineHeight;
}

h3 {
  margin-top: $lineHeight * 1.5;
  margin-bottom: $lineHeight / 2;
}

p,
ul,
ol {
  margin: {
    top: 0;
    bottom: 1rem;
  }
}

ul,
ol {
  padding-left: $lineHeight * 1.5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
}
