@import 'src/styles/util/index.scss';

.container {
  $padding: 30px;
  width: 100%;
  max-width: $containerWidth;
  min-width: $phoneSmall;
  margin: 0 auto;
  padding: {
    left: $padding;
    right: $padding;
  }

  @include media($gridIsStacked) {
    padding: {
      left: $padding / 2;
      right: $padding / 2;
    }
  }
}
