@import 'src/styles/util/index.scss';

footer {
  padding: calc($lineHeight*2) 0;
  font-size: $fontSize - 2;  
  color: $textColorLight;
  @include media('>phablet') {
    text-align: center;
    padding: $lineHeight 0;
  }
}

.content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-top: 1px solid $grey100;
  padding-top: calc($lineHeight*2);

  @include media('<desktop') {
    flex-direction: column;
    padding-top: $lineHeight;
  }
}

svg {
  fill: $grey400;
}

.copy {
  @include media('<desktop') {
    margin-bottom: calc($lineHeight / 2);
  }
}

.copy,
.email {
  display: inline-flex;
  align-items: center;
  
  @include media('<phablet') {
    align-items: flex-start;
  }
}

.email a {
  color: $textColorLight;  
  text-decoration: none;

  &:hover {
    color: $textColor;

    svg {
      fill: $textColor;
    }
  }
}

.codeIcon,
.emailIcon {
  display: inline-flex;
  width: 24px;
  flex-shrink: 0;
  margin-right: rem(8px);
}

