@import 'src/styles/util/index.scss';

footer {
  margin-top: 80px;
  padding-bottom: 60px;
  font-size: $fontSize - 2;
  text-align: center;
  color: $textColorLight;  
}

.content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-top: 1px solid $grey100;
  padding-top: $lineHeight;

  @include media('<desktop') {
    flex-direction: column;
  }
}

svg {
  fill: $grey400;
}


.copy,
.email {
  display: inline-flex;
  align-items: center;
}

.email a {
  color: $textColorLight;  
  text-decoration: none;

  &:hover {
    color: $textColor;

    svg {
      fill: $textColor;
    }
  }
}

.codeIcon,
.emailIcon {
  display: inline-flex;
  width: 24px;
  margin-right: rem(8px);
}

