@import 'src/styles/util/index.scss';

.intro {
  padding-top: 10px;


  &.noBanner {
   background: none;
  }  
  
}

.content {
  padding: $lineHeight 0;

  .noBanner & {
    padding: $lineHeight*3 0;        
  }
}
