@import 'src/styles/util/index.scss';

.nav {
  padding-top: 20px;
}

.link {
  box-shadow: none;
  font-weight: 300;
  font-family: $fontSansSerif;
  text-decoration: none;
  color: $textColor;

  ~ .link {
    margin-left: 30px;
  }
}

.active {
  opacity: 0.8;
}
