@import 'src/styles/util/index.scss';

.logo {
  width: 35px;
}

.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  @include media('<phablet') {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
}

.link {
  box-shadow: none;
  font-weight: 300;
  font-family: $fontSansSerif;
  text-decoration: none;
  color: $textColor;
  position: relative;

  ~ .link {
    @include media('>=phablet') {
      margin-left: rem(50px);
    }
  }

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 70%;
    background: #5d80a3;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    opacity: 0;
    bottom: -10px;
  }
}

.active {
  color: #5d80a3;

  @include media('>=phablet') {
    &:after {
      opacity: 1;
    }
  }
}
