@import 'src/styles/util/index.scss';

.logo {
  width: 48px;
  margin-right: 1rem;;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: calc($lineHeight/2) 0 $lineHeight;
}

.nav {  
  @include media('<phablet') {
    display: flex;
    flex: 1;
    justify-content: space-around;
  }
}

$_link: darken($linkColor, 5%);
$_active: mix(black, $_link, 40%);
.link {  
  box-shadow: none;
  font-family: $fontSansSerif;
  text-decoration: none;  
  position: relative;
  padding: 12px 16px;
  border-radius: 8px;
    

  &:hover {
    color: $textColor;
  }

  ~ .link {
    @include media('>=phablet') {
      margin-left: rem(36px);
    }
  }
}

.active, .active:hover {
  background-color: rgba(#000, 0.02);
}
