@import 'src/styles/util/index.scss';

.indexContent {
  margin: 120px 0;
}

.intro {
  color: #4d4236;
  font-family: $fontSerif;
}

.name {
  color: #4d4236;
  font-family: $fontSansSerif;
  font-weight: bold;
  font-size: 72px;
  margin: -14px 0 -12px -4px;
}

.about {
  font-style: italic;
  font-size: 26px;
  font-weight: normal;
  color: $accentTextColor;
  display: block;
  margin-bottom: 2rem;
}
