@import 'src/styles/util/index.scss';

.indexContent {
  margin: rem(90px) 0;

  @include media($gridIsStacked) {
    margin: rem(60px) 0;
  }
}

.intro {
  color: #4d4236;
  font-family: $fontSerif;
}

.name {
  color: #4d4236;
  font-family: $fontSansSerif;
  font-weight: bold;
  font-size: rem(72px);
  margin: -14px 0 -12px -4px;
}

.about {
  font-style: italic;
  font-size: rem(26px);
  font-weight: normal;
  color: $accentTextColor;
  display: block;
  margin-bottom: 1.5rem;
}
