@import 'src/styles/util/index.scss';

.indexIntro {
  margin: rem(60px) 0;

  @include media($gridIsStacked) {
    margin: 0;
  }
}

.salutation {
  font-weight: $fontWeightBold;
  font-size: rem(53px);
  color: $headerColor;
  display: block;
  margin-bottom: 1rem;
}

.portfolioWrapper {
  position: relative;
}

.wwDeco,
.wwDisc,
.wtDeco {
  position: absolute;
}

.wwDeco {
  right: -50px;
  bottom: 80px;
  z-index: 3;
}

.wwDisc {
  right: -65px;
  bottom: 30px;
}

.wtDeco {
  top: 30px;
  left: -50px;
}
