@import 'src/styles/util/index.scss';

.introImage {
  margin-bottom: 5.5rem;
}

.shadow {
}

.paddedCaseStudyImg {
  max-width: 900px;
  margin: 0 auto 0;
}

.wegoIllustrations {
  display: flex;
  justify-content: space-between;
}
