@import 'src/styles/util/index.scss';

$_spacing: 1rem;

.category {
  font-family: $fontSansSerif;
  font-size: 0.9rem;
}

.post {
  & ~ & {
    margin-top: 3.5rem;
  }
}

.title {
  margin: $_spacing / 4 0 $_spacing / 2;

  &:hover {
    color: $linkColor;
  }
}

.date {
  display: block;
  margin-bottom: $_spacing;
}

.excerpt {
  margin-bottom: $lineHeight / 2;
}
