@import 'src/styles/util/index.scss';

$_spacing: 1rem;

.category {
  font-family: $fontSansSerif;
  font-size: 0.9rem;
}

.post {
  & ~ & {
    margin-top: 3.5rem;
  }
}

.title {
  margin: calc($_spacing / 4) 0 calc($_spacing / 2);
  color: $textColor;
  text-decoration: none;

  &:hover {
    color: $linkColor;
  }
}

.date {
  display: block;
  margin-bottom: $_spacing;
}

.excerpt {
  margin-bottom: calc($lineHeight * 0.5);
}
