@import 'src/styles/util/index.scss';

.wrapper {
  margin-bottom: $lineHeight * 1.5;
}

.details {
  display: flex;
  margin-bottom: rem(4px);
  font-size: $fontSize - 2;
  color: $textColorLight;
}

.type {

}

.location {

}

.divider {
  margin: 0 rem(8px);
  opacity: 0.5;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: $h3Size;
  letter-spacing: 1.1px;
  
  @include media('<desktop') {
    align-items: start;
    font-size: $h3Size - 2;
  }
}

.linkText {
  @include media('<desktop') {
    order: 2;
  }
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-left: rem(6px);

  svg {
    fill: none;
  }

  @include media('<desktop') {
    order: 1;
    margin-left: 0;
    margin-right: rem(6px);
    width: 20px;
    height: 20px;
  }
}