@import 'src/styles/util/index.scss';

.wrapper {
  margin-bottom: $lineHeight * 1.5;
}

.details {
  display: flex;
  margin-bottom: rem(4px);
  font-size: $fontSize - 2;
  color: $textColorLight;
}

.type {

}

.location {

}

.divider {
  margin: 0 rem(8px);
  opacity: 0.5;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: $h3Size;
  // font-weight: bold;
  letter-spacing: 1.1px;
}

.icon {
  display: inline-flex;
  width: 24px;
  margin-left: rem(6px);
}