@import 'src/styles/util/index.scss';

$_metaWidth: rem(200px);

.wrapper {
  margin-top: $lineHeight * 3;
  @include media('>desktop') {
    padding-left: $_metaWidth;
  }
}

.content {
  position: relative;
  line-height: rem(25px);
  max-width: $contentWidth;
}

.meta {
  font-family: $fontSansSerif;
  font-size: rem(16px);
  color: $headerColorDark;

  @include media('>desktop') {
    width: $_metaWidth;
    position: absolute;
    right: 100%;
  }

  @include media('<=desktop') {
    margin-bottom: $lineHeight / 2;
  }
}

.role {
  @include media('>desktop') {
    display: block;
  }
}

.dates {
  @include media('<=desktop') {
    &:before {
      content: '|';
      margin: 0 rem(5px);
    }
  }
}

.company {
  color: $headerColorDark;
  font-weight: bold;
  margin-bottom: $lineHeight / 2;
  font-size: rem(20px);
}
