@use "sass:math";

@import 'src/styles/util/index.scss';

$_metaWidth: rem(220px);

.wrapper {
  margin-top: $lineHeight * 3;
  @include media('>desktop') {
    padding-left: $_metaWidth;
  }
}

.content {  
  position: relative;
  line-height: rem(25px);
  max-width: $contentWidth;
}

.meta {
  font-family: $fontSansSerif;
  font-size: rem(16px);  
  padding-right: 2rem;
  font-style: italic;

  @include media('>desktop') {
    width: $_metaWidth;
    position: absolute;
    right: 100%;
    text-align: right;
  }

  @include media('<=desktop') {
    margin-bottom: $lineHeight * 0.5;
  }
}

.role {
  @include media('>desktop') {
    display: block;
  }
}

.dates {
  @include media('<=desktop') {
    &:before {
      content: '|';
      margin: 0 rem(5px);
    }
  }
}

.company {
  font-size: rem($h3Size);
  font-weight: $fontWeightBold;
  margin-bottom: $lineHeight * 0.5;
}

.link {
  margin-top: math.div($lineHeight, 3);
}
