@import 'src/styles/util/index.scss';

.titleBackLink {
  @include media('<desktop') {
    margin-left: 15px;
  }
}

.subheader {
  font-size: rem($h2Size);
  font-weight: $fontWeightBold;
  margin: 0;
  letter-spacing: -1px;
}
