@import 'src/styles/util/index.scss';

.titleBackLink {
  @include media('<desktop') {
    margin-left: 15px;
  }
}

.subheader {
  font-size: rem(36px);
  font-weight: bold;
  color: $headerColorDark;
  margin: 0;
}
