@import 'src/styles/util/index.scss';

$_spacing: $lineHeight * 3;

.intro {
  background: rgba(250, 236, 222, 0.2);
  margin: 170px 0;
}

.expSection {
  margin-top: 50px;
}

.shadowImg {
  box-shadow: 0 8px 32px rgba(#004dad, 0.05), 0 2px 7px rgba(#000, 0.02);
}

.expImage {
  padding: $_spacing;
  margin: {
    top: $_spacing;
    bottom: $_spacing;
  }
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    $doubleSpacing: $_spacing * 2;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.04);
    // max-width: calc(100% - #{$doubleSpacing}) !important;
  }
}

.expImageNoBg {
  padding: 0;
}

.expImageWT {
  background: #f7fafc;
}

.expImageWW {
  background: #fafbfc;
}

.expImageWTdash {
  background: #f7f9fa;
}

.expImageFluid {
  padding: {
    top: $_spacing;
    bottom: $_spacing;
  }
}
