@import 'src/styles/util/index.scss';

.intro {
  background: rgba(250, 236, 222, 0.2);
  margin: 170px 0;
}

.expBlock1 {
  display: flex;
  background-image: linear-gradient(
    -180deg,
    rgba(#f7f9fa, 0.5) 0%,
    rgba(#f7f9fa, 0.75) 100%
  );
  margin: 250px 0;
  position: relative;
}

.expBlock1Left,
.expBlock1Right {
  flex: 1 1 50%;
  position: relative;
}

.expBlock1Left {
  display: flex;
  align-items: center;
}

.expBlock1Img {
  position: absolute;
  right: -80px;
  transform: translateY(-50%);
  top: 50%;
}

.greenLoansImg {
  right: -180px;
}

.expBlock1Content {
  max-width: 475px;
  padding: 50px;
}

.expBlock2 {
  background-image: linear-gradient(
    -180deg,
    rgba(0, 177, 250, 0.01) 0%,
    rgba(0, 121, 242, 0.035) 100%
  );
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 180px 0;
}

.expBlock2Img {
  margin-bottom: -10px;
}

.expSection {
  margin-top: 50px;
}

.expSectionImg {
  margin-top: 30px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 70px;
  }
}
