@import 'src/styles/util/index.scss';

.role {
  display: flex;
  justify-content: space-between;
  margin-bottom: $expSectionSpacing;

  @include media('<tablet') {
    flex-direction: column;
  }
}

.copy {
  max-width: 620px;

  @include media('<tablet') {    
    order: 2;
  }
}

.sidebar {

  @include media('>=tablet') {
      max-width: 300px;
  }

  @include media('<tablet') {
    margin-bottom: 2rem;
  }
}

.sidebarItem {
  & ~ & {
    margin-top: 1rem;
  }
}

.sidebarItemTitle {
  font-size: $fontSize - 2;
  line-height: $lineHeight;
  font-weight: $fontWeightBold;
}
