@import 'src/styles/util/index.scss';

.role {
  display: flex;
  justify-content: space-between;
  margin-bottom: $expSectionSpacing;  
  align-items: flex-start;

  @include media('<tablet') {
    flex-direction: column;
  }
}

.copy {
  max-width: 620px;

  @include media('<tablet') {    
    order: 2;
  }
}

.sidebar {
  background: $calloutBox;
  border-left: 1px solid #F1F5F9;
  padding: $lineHeight;
  height: auto;
  font-size: $fontSize - 2px;

  @include media('>=tablet') {
      max-width: 300px;
  }

  @include media('<tablet') {
    margin-bottom: 2rem;
  }
}

.sidebarItem {
  & ~ & {
    margin-top: 1rem;
  }
}

.sidebarItemTitle {
  font-size: $fontSize - 2;
  line-height: $lineHeight;
  font-weight: $fontWeightBold;
}
