@import 'src/styles/util/index.scss';

.sectionHeader {
  font-family: $fontSansSerif;
  font-weight: bold;

  &:after {
    content: '';
    display: block;
    width: 24px;
    height: 5px;
    background: $defaultTextColor;
    margin: 18px 0;
  }
}
