@import 'src/styles/util/index.scss';
$_timing: 0.4s;

.portfolioItem {
  box-shadow: 0 8px 32px rgba(#004dad, 0.05), 0 2px 7px rgba(#000, 0.02);
  border: 1px solid rgba(250, 236, 222, 0.4);
  display: flex;
  flex-direction: column;
  color: $textColor;
  transition: all $_timing ease;
  transition-property: color, box-shadow;

  @include media($gridIsStacked) {
    margin-bottom: rem(60px);
  }

  &:hover {
    box-shadow: 0 6px 20px rgba(#004dad, 0.08), 0 2px 5px rgba(#000, 0.05);
    color: $linkColor;

    .company:after {
      opacity: 1;
      transform: translateX(3px);
    }

    .imageWrapper {
      background-color: #f4f8fc;
    }

    .image {
      transform: scale(1.03);
    }

    .wegowise {
      background-color: #f5f9ff;
    }
  }
}

.copy {
  padding: $lineHeight;
  font-family: $fontSansSerif;
}

.company {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.5rem;

  &:after {
    content: '→';
    display: inline-flex;
    transform: translateX(-2px);
    opacity: 0;
    transition: all $_timing ease-in;
    transition-property: opacity, transform;
  }
}

.imageWrapper {
  $_timing: 1.2s;
  height: 380px;
  background-color: #fafcfa;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $_timing ease;

  @include media('<desktop') {
    height: 280px;
  }

  @include media($gridIsStacked) {
    height: 200px;
  }

  .image {
    transition: transform $_timing ease;
  }

  &.watchingthat {
    .image {
      width: 65%;
      top: 20px;
      position: relative;
    }
  }

  &.wegowise {
    align-items: flex-end;
    position: relative;
    overflow: hidden;

    .image {
      width: 130%;
      position: absolute;
    }
  }
}
