@import 'src/styles/util/index.scss';

.portfolioItem {
  max-width: 800px;
  margin: 0 auto;

  & ~ & {
    margin-top: 140px;
  }
}

.copy {
  margin-bottom: 1.5rem;
}

.company {
  $timing: 0.4s;
  font-family: $fontSansSerif;
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  color: $textColor;
  margin-bottom: 0.5rem;
  transition: color $timing ease-in;

  &:hover {
    color: $linkColor;
  }

  &:after {
    content: '→';
    display: inline-flex;
    transform: translateX(-2px);
    opacity: 0;
    transition: all $timing ease-in;
    transition-property: opacity, transform;
  }

  &:hover:after {
    opacity: 1;
    transform: translateX(3px);
  }
}

.imageWrapper {
  $timing: 1.2s;
  height: 420px;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $timing ease;

  &:hover {
    background-color: #f4f8fc;
  }

  &:hover .image {
    transform: scale(1.03);
  }

  .image {
    transition: transform $timing ease;
  }

  &.watchingthat {
    .image {
      width: 45%;
    }
  }

  &.wegowise {
    background-color: #fafcfa;
    align-items: flex-end;

    &:hover {
      background-color: #f7f9fc;
    }

    .image {
      width: 85%;
    }
  }
}
