@import 'src/styles/util/index';

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: {
    left: -($gridSpacing);
    right: -($gridSpacing);
  }

  @include media('<desktop') {
    margin: {
      left: -($gridSpacing);
      right: 0;
    }
  }

  @include media($gridIsStacked) {
    flex-direction: column;
    margin: {
      left: 0;
      right: 0;
    }
  }
}
