@import 'src/styles/util/index';

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: {
    left: -($gridSpacing);
    right: -($gridSpacing);
  }

  @include media($gridIsStacked) {
    flex-direction: column;
    margin: {
      left: 0;
      right: 0;
    }
  }
}
