@import 'src/styles/util/index';

/* for even widths just use this */
.gridCell {
  flex: 1;
  padding: {
    left: $gridSpacing;
    right: $gridSpacing;
  }

  @include media('<desktop') {
    padding: {
      left: $gridSpacing;
      right: 0;
    }
  }

  @include media($gridIsStacked) {
    padding: 0;
  }
}

/* span1, span2 etc width classes */
@include outputGridCells;
