// TYPOGRAPHY
//----------------------
$fontSerif: 'Libre Baskerville', serif;
$fontSansSerif: 'Libre Franklin', sans-serif;
$defaultTextColor: #4d4236;
$accentTextColor: #cc8d49;

// LAYOUT
//----------------------
$containerWidth: 1200px;
$contentWidth: 560px;
