@import './_functions.scss';

// TYPOGRAPHY
//----------------------
$fontSerif: 'Libre Baskerville', serif;
$fontSansSerif: 'Libre Franklin', sans-serif;
$fontSize: 18px;
$lineHeight: rem(27px);
$textColor: #4d4236;
$accentTextColor: #cc873d;
$linkColor: #4095ed;
$introColor: #f5faff;
$headerColor: #5d80a3;
$headerColorDark: #5d6c7a;

// LAYOUT
//----------------------
$containerWidth: 1060px;
$contentWidth: 620px;
$spacingUnit: 1rem;
$hSpacingUnit: $spacingUnit;
$vSpacingUnit: $spacingUnit;
$documentPadding: $spacingUnit * 2;
$totalDocPadding: $documentPadding * 2;
$gridSpacing: $spacingUnit * 2;
$gridColumns: 12;
$expSectionSpacing: rem(100px);

//-- MQ dimensions
$phoneSmall: 320px;
$phone: 420px;
$phablet: 560px;
$tablet: 768px;
$desktop: 1080px;
$desktopWide: $containerWidth;

$breakpoints: (
  phone: $phone,
  phoneSmall: $phoneSmall,
  phablet: $phablet,
  tablet: $tablet,
  desktop: $desktop,
  desktopWide: $desktopWide,
);

$gridIsStacked: '<=tablet';
$gridIsNotStacked: '>tablet';

// COMPONENTS
//---------------
$titleSpacing: $lineHeight * 2.5;
